html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
}
#shadowCanvas {
	width: 100%;
	height: 350px;
	outline: 1px solid black;
}
#pickCanvas {
	width: 100%;
	height: 175px;

}
#uiWrapper {
	width: 900px;
	height: 600px;
	margin: auto;
	margin-top:30px;

	background-color: black;
	color: white;
}

#header {
	height:100px;
	position:relative;
}

#score {
	position:absolute;
	right:0;
	top:0;
	widht:100px;
	height:100px;
	font-size: 66px;
}

#gameViewport {

}

.gameDescription {
	height: 50px;
	position: relative;

}


.gameDescription button.stopMusic {
	position:absolute;
	right:0; 
}

.choicesWrapper{
	position: relative;
}
button.choice {
	width: 300px;
	height: 175px;
	outline: 1px solid white;
	position: absolute;
    background: transparent;
    border: none !important;
    font-size:0px;
    top:0;
}

button.choice:hover {
	background-color: orange;
	opacity:0.4;
}

button.choice1 {
	left:0px;
}

button.choice2 {
	top:0;
	left:300px;
}
button.choice3 {
	top:0;
	left:600px;
}

.alert.winfail {
	width: 30%;
	position: absolute;
	top:35%;
	left:35%;
	right:35%;
	display: none;
	opacity: 0.8;
}

#triumph {
	opacity: 1;
}

#start {
	display:block;
	width: 400px;
}

.btn.playAgain {
	width: 100%;
}
