html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#shadowCanvas {
	width: 100%;
	height: 250px;
}
#pickCanvas {
	width: 100%;
	height: 50%;
}

#header,
#gameUI {
	margin: 20px;
}

#uiWrapper {
	margin: 50px;
	outline: 1px solid grey;

}
