html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: black;
}
#shadowCanvas {
	width: 100%;
	height: 350px;
	outline: 1px solid black;
}
#pickCanvas {
	width: 100%;
	height: 175px;

}
#uiWrapper {
	width: 900px;
	height: 600px;
	margin: auto;
	outline: 1px solid grey;
	background-color: white;
}

#header {
	height:50px;
	margin-left: 30px;
	text-align: center;
}

#gameViewport {

}

.gameDescription {

}

.choicesWrapper{
	position: relative;
}
button.choice {
	width: 300px;
	height: 175px;
	outline: 1px dotted red;
	position: absolute;
    background: transparent;
    border: none !important;
    font-size:0px;
    top:0;
}

button.choice1 {
	left:0px;
}

button.choice2 {
	top:0;
	left:300px;
}
button.choice3 {
	top:0;
	left:600px;
}

.alert.winfail {
	width: 30%;
	position: absolute;
	top:35%;
	left:35%;
	right:35%;
}

