html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#shadowCanvas {
	width: 100%;
	height: 350px;
	outline: 1px solid black;
}
#pickCanvas {
	width: 100%;
	height: 175px;

}

#uiWrapper {
	width: 1000px;
	height: 600px;
	margin: auto;
	outline: 1px solid grey;
}

#header {
	height:50px;
	margin-left: 30px;
	text-align: center;
}

#gameViewport {

}

.gameDescription {
	
}

.choicesWrapper{
	position: relative;
}
button.choice {
	width: 150px;
	height: 150px;
	outline: 1px dotted red;
	position: absolute;
    background: transparent;
    border: none !important;
    font-size:0px;
    top:0;
}

button.choice1 {
	left:0px;
}

button.choice2 {
	top:0;
	left:150px;
}
button.choice3 {
	top:0;
	left:300px;
}









#gameUI {
	margin: 20px;
}



#buttonWrapper {
	width:600px;
	margin:auto;
	outline: 1px solid red;
}

#gameUI {
	display: none;
	position: relative;
	width: 100%;
}

.choice {
	margin-left: 20px;
}

.choice img {
	height:120px;
}
